<!-- Top header start -->
<header class="top-header th-20 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-2 col-sm-5">
                <ul class="top-social-media pull-right">
                    {% if user.is_authenticated %}
                                  <li>
                            <span class="sign-in"><i class="fa fa-user"></i> You are logged in as:{{user.username}}</span>
                        </li>
                        <li>
                            <a href="{% url 'dashboard' %}" class="sign-in"><i class="fa fa-tachometer"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in"><i class="fa fa-sign-out"></i> Logout</a>
                            <form action="{% url 'logout' %}" id="logout" method="POST">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <span class="sign-in"><i class="fa fa-user"></i> Hello: Guest</span>
                        </li>
                        <li>
                            <a href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-envelope"></i> Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
